.Controls {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  gap: 16px;
  background: #f1f1f1;
}

.TextAreaContainer {
  flex: 1;
  padding: 8px 16px;
  border-radius: 16px;
  background: #ffffff;
}

.TextArea {
  width: 100%;
  height: 100%;
  resize: none;
  border: none;
  outline: none;
  background: #ffffff;
}
.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border: none;
  border-radius: 50%;
  outline: none;
  background: #00d8dd;
}

.Button svg {
  fill: #f3f3f3;
}
