.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  height: 100vh;
  padding: 16px;
}

.Header {
  text-align: center;
  padding-left: calc(260px+16px);
}

.Logo {
  width: 64px;
  height: 64px;
}

.Title {
  margin: 0;
}
.chatContainer {
  flex-grow: 1;
  width: 100%;
  background:light-dark(#212121,#ffffff) ;
  border-radius: 16px;
  overflow-y: auto;
}
.Content {
  display: flex;
  flex-grow: 1;
  width: 100%;
  height: 100%;  /* Important: ensures Sidebar/Main take full height */
  overflow: hidden;
}

.Main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 16px;
  overflow: auto;
  width: 100%;          /* Ensure it can grow fully */
}
